*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
*.log
.navigation/
.kotlin/
*.hprof
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/shelf
.idea/artifacts
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/vcs.xml
.idea/deploymentTargetDropDown.xml
.idea/render.experimental.xml
.idea/gradle.xml
.idea/iconPatcher.xml
.idea/inspectionProfiles
.idea/jsonSchemas
.idea/runConfigurations.xml
.idea/appInsightsSettings.xml
.gradle/gradle-wrapper.jar
!gradle-wrapper.properties
/buildSrc/build/
/app/build
